
numpy
scipy
matplotlib
PyQt5
pandas
psutil
git+https://github.com/glopesdev/pyosc3.git@master
pyserial
git+https://github.com/AllenNeuralDynamics/python-newscale@axes-on-target
git+https://github.com/AllenNeuralDynamics/aind-foraging-behavior-bonsai-automatic-training.git@main
git+https://github.com/AllenNeuralDynamics/aind-slims-api@main
git+https://github.com/AllenNeuralDynamics/aind-dynamic-foraging-models@main
pynwb
requests
harp-python
openpyxl
deepdiff
aind-data-schema==1.1.0
aind-data-schema-models==0.5.6
pydantic==2.9.2
pyyaml
pyqtgraph
