
numpy
scipy
matplotlib
PyQt5
pandas
psutil
git+https://github.com/glopesdev/pyosc3.git@master
pyserial
git+https://github.com/AllenNeuralDynamics/python-newscale@axes-on-target
git+https://github.com/AllenNeuralDynamics/aind-foraging-behavior-bonsai-automatic-training.git@main
git+https://github.com/AllenNeuralDynamics/aind-slims-api@main
pynwb
requests
harp-python
openpyxl
deepdiff
aind-data-schema==0.36.0
aind-data-schema-models==0.1.10
pydantic==2.8.2
pyyaml
